@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap");


body {
  background-color: #e5e5e5;
  font-family: 'Montserrat';
  margin: 0;
  padding: 0;
  width: 100%;
  justify-items: center;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}